<div class="container">
	<h1>Editar Información Personal</h1>
	<%= render 'form', person: @person %>
	<%= link_to 'Ver', @person, class:'btn btn-warning' %> 
	<%= link_to 'Atras', people_path, class:'btn btn-primary' %>
</div>
